body {
 
  background-repeat: no-repeat;
background-image:  url("./assets/Back.jpg");
background-position: center;
object-fit: cover;
}
#form1,
#form3 {
  width: 500px;
  margin: 10vh auto 40px auto;
  padding: 20px;
  background-color: rgb(230, 229, 229);
  border-radius: 4px;
  font-size: 12px;

  
}
#form1 h1 {
  color: rgb(19, 19, 20);
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

#form1 button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(94, 108, 233);
  border: none;
  border-radius: 40px;
}
.input-control {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.input-control label {
  font-weight: bold;
  font-size: 12px;
}
.input-control input {
  border-radius: 4px;
  border: 2px solid white;
  display: block;
  font-size: 12px;
  width: 100%;
  height: 20px;
}
.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #09c372;
}
.input-control.error input {
  border-color: #ff3860;
  
}
.input-control .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin-bottom: 12px;
}
#form1 p {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
#form1 a {
  text-decoration: underline;
  color: blue;
}
#form1 a:visited {
  color: blue;
}

#form2 {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: rgb(230, 229, 229);
  border-radius: 4px;
  font-size: 12px;
  height: 80%;
}
#form2 h1,
#form3 h1 {
  color: rgb(20, 20, 20);
  text-align: center;
  font-size: 30px;
}
#form2 button,
#form3 button {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: rgb(65, 125, 204);
  border: none;
  border-radius: 40px;
  margin-bottom: 30px;
}
#form2 p {
  text-align: center;
  font-size: 15px;
}
#form2 a {
  text-decoration: underline;
  color: rgb(17, 84, 185);
}
#form2 a:visited {
  color: blue;
}
.welcome {
  color: white;
  font-size: 5rem;
  margin: 50vh auto;
  margin-top: 150px;
  width: 500px;
  height: 400px;
  background: transparent;
  box-sizing: border-box; /* Changed from 600px */
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: grid;
  justify-content: center;
  
  padding: 5px;
 
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}
.navbar a {
  color: white;
  text-decoration: none;
}

